{% extends 'journal/base.html' %}

{% block title %}
     MFA 1  
{% endblock%}



{% block content %}

<div class="flex justify-center items-center mt-5 ">
    <div class="space-y-5 w-2/3 shadow shadow-mindpurple p-4 m-5 rounded-lg">
        
        <h2 class="bg-red-200 p-2 mx-auto underline w-2/3 text-center text-lg sm:text-2xl font-medium rounded-lg text-mindpurple font-[poppins]">
            Auth/MFA Level One
        </h2>
        
        <hr class="border-mindpurple">

        <!-- 
            E-mail and password form to test the knowledge 
            factor of the authentication system
        -->

        <form class=" border-mindpurple space-y-4 " action="{% url 'accounts:mfa' 1 %}" method="POST">
            {% csrf_token %}

            <div class="mx-auto space-y-1  w-2/3">
                <label class="mx-auto text-mindtextmetal font-medium" for="email"> E-mail Address </label>
                <input class="w-full shadow-md bg-white p-2 rounded-lg focus:outline-mindpurple"  type="email" name="email" placeholder="E-mail Address">
            </div>
            
            <div class="mx-auto space-y-1 w-2/3">
                <label class="mx-auto text-mindtextmetal font-medium" for="password"> Password </label>
                <input class="w-full shadow-md bg-white focus p-2 rounded-lg focus:outline-mindpurple" type="password" name="password">
            </div>

            <div>
                <input type="hidden" name="level" value="1">
            </div>

            <div class="mx-auto  w-2/3">
                <input class="w-full p-2 rounded-lg bg-mindpurple font-medium text-white hover:outline-2 hover:outline-mindpurple hover:font-bold" type="submit" value="Login">
            </div>
        
        </form>

    </div>
</div>

    

    
    
    
{% endblock%}