{% extends 'journal/base.html' %}

{% block title %}
    <title> Set MFA Details  </title>
{% endblock%}


{% block body %}


    <header>
        <h3>
            Set recovery question, its answer and OTP Phone Number
        </h3>
    </header>


    {% if message %}
        {{ message }}
    {% endif %}

    <div>
        <form action="{% url 'accounts:setmfa' %}" method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <p>
                    {{ field.label_tag}} <br>
                    {{ field }}

                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}


                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}

                    
                </p>
            {% endfor %}

            <input type="submit" value="Update Security">
        </form>
    </div>
        
    
{% endblock %}
