{% extends 'journal/base.html' %}




{% block title %}
    <title> Sign Up</title>
{% endblock %}



{% block content %}

    {% if message %}
        {{ message }}
    {% endif %}

    <div class="flex justify-center items-center font-medium py-7">

        <form class="shadow shadow-mindpurple rounded-lg w-2/3 justify-center" action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="mb-7">

                    <label class="flex justify-center items-center text-lg text-mindtextmetal"> 
                        {{ field.label_tag}} </label>  

                    <div class="mt-1 flex justify-center items-center w-full">
                        <p class="p-1 border-2 border-mindpurple focus:outline-2 focus:outline-mindpurple"> {{ field }}   </p>
                    </div>   
                
                </div>

                <!-- 
                    <p>
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}

                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}                
                    </p>
                -->
            {% endfor %}
            <div class="my-3 flex justify-center items-center w-full">
                <input class="rounded-md bg-mindpurple w-1/3 p-2 text-white hover:font-bold  hover:ring hover:ring-mindpurple" type="submit" value="Sign Up">
            </div>
            
        </form>
    </div>
        


{% endblock %}
