{% extends "base.html" %}

{% block title %}
    <title> 
    
        <!--
            Filter by {% filter_on %}
        -->

    </title>
{% endblock%}


{% block body %}

        

    <div>
        <!--
            If filtering with months.... checking if context.filter_on value for 'months'

            Big Year H1 of this year
            ----
            A list/grid of the past 12 months linking to each day
        -->
    </div>

    
    <div>
        <!--
            If filtering with year....    checking if context.filter_on value for 'years'

            Big Year H1 of the year
            ----
            A list/grid of the past 12 years linking to each year
        -->
    </div>


    
{% endblock%}
