{% load static %}


<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'journal/journal.css' %}" />
        <title>
            {% block title %}
            {% endblock%}
        </title>
    </head>

    <body class="bg-mindcream px-7">

        <nav class="flex justify-center items-center border-b-2 border-mindpurple py-4">
            {% if user.is_authenticated %}
            <div>
                Search Bar
            </div>
            {% endif%}

            <div class="font-bold font-[Poppins] text-8xl md:text-9xl text-mindpurple">
                Journal
            </div>


            {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'accounts:logout_view' %}"> Log out </a>            
                </div>
            {% endif %}
        </nav>
        

        {% block content %}

        {% endblock %}



    </body>
</html>
