{% load static %}


<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'journal/journal.css' %}" />
        <title>
            {% block title %}
            {% endblock%}
        </title>
    </head>

    <body class="bg-mindcream px-7">

        <nav class="flex justify-between items-center border-b-2 border-mindpurple py-3 md:py-3">
            <div>
                {% if user.is_authenticated %}
                    <div class="w-28 md:w-40 shadow bg-white border-2 bordermindpurple rounded-3xl text-center text-xs md:text-md sm:text-lg p-1 md:px-2 text-mindpurple font-medium">
                        <form class=" items-center" action="{% url 'journal:search-archive' %}" method="POST">
                            {% csrf_token %}
                            <input class="rounded-lg w-full p-1 text-xs md:text-sm outline-none focus:outline-none"type="text" name="query" placeholder="Search journal">
                            
                        </form>
                    </div>
                {% endif%}
            </div>
            

            <div class="font-bold font-[Poppins] text-xl md:text-3xl text-mindpurple">
                <a href="{% url 'journal:index' %}"> Multi-Factor Authentication Implementation </a>
            </div>

            <div>
                {% if user.is_authenticated %}
                    <div class="bg-white shadow border-2 bordermindpurple  rounded-lg text-center text-xs md:text-sm sm:text-lg py-1 px-2 md:px-3 text-mindpurple font-medium hover:text-bold hover:text-white hover:bg-mindpurple">
                        <a href="{% url 'accounts:logout_view' %}"> Log Out </a>            
                    </div>
                {% endif %}
            </div>
            
        </nav>
        

        {% block content %}

        {% endblock %}



    </body>
</html>
