{% extends "base.html" %}

{% block title %}
    <title> 
    
        <!--
            Date description for days within the past seven days and the 
            actual daye in format "June 22nd, 2023" if not
        -->

    </title>
{% endblock%}


{% block body %}
    <header> 
        <!--
            Displays date and time in the format 
             
            5:56 PM
            Thursday, June 22nd, 2023
        -->
    </header>

    
    <div>
        <!--
            A list of this day's entries 
        -->
    </div>
    
    
{% endblock%}
