{% extends 'journal/base.html' %}

{% block title %}
    My journal
{% endblock%}



{% block content %}

    <div class=" justify-center items-center w-full shadow-md rounded-md shadow-mindpurple mt-4 ">
        

        <div class="w-full space-y-5 borderborder-mindpurple ">
            <div class="flex bg-red-200 justify-between items-center text-mindpurple font-medium py-2 sm:py-4 px-2 border-b-2 rounded-t-md border-mindpurple">
                <div class="text-xs md:text-sm md:text-md rounded-lg border-2 border-mindpurple font-medium font-[poppins] bg-white p-1 sm:p-2">
                    Today - {{ today_datetime }}
                </div>
                
                
                <div class="text-xs md:text-md rounded-lg font-medium text-white font-[poppins] bg-mindpurple p-1 sm:p-2">
                    <a href="{% url 'journal:create_entry' %}"> Add Entry </a>
                </div>
                
            </div>
            

            <div class="px-2 font-[poppins] mb96 mt-5">
                <!-- 
                    A list of entries from today is displayed starting with the most recent
                -->
                    {% for entry in entries %}
                        <div>
                            <div class="italic text-sm md:text-md text-mindpurple">
                                {{ entry.created_at }}
                            </div>
                            <div class="text-sm md:text-lg">
                                {{ entry.text }}
                            </div>
                        </div>

                        <p>---------</p>
                    {% empty %}
                        <div class="flex justify-center items-center my-32">
                            <div  >
                                <p class="text-center"> You haven't added an entry today 
                                    <br>
                                    <a href="{% url 'journal:create_entry' %}"> <span class="italic underline text-mindpurple">What's on your mind?</span></a>
                                </p>
                                
                            </div> 
                        </div>
                        
                    {% endfor %}

            </div>
        </div>

        <div>
            <div class="h-20 mt-4 flex justify-center items-center border-t-2 border-mindpurple rounded-b-md bg-red-200">
                <!--
                    Input Date Form
                -->
                <div>
                    <form class="flex space-x-3 " action="{% url 'journal:search-archive'  %}" method="POST">
                        {% csrf_token %}                    
                            
                        <input class="bg-transparent text-xs md:text-md font-[poppins] p-1 rounded-md border border-mindpurple focus:outline-white " required type="date" name="date">
                            
                        <input class="text-xs md:text-md bg-mindpurple px-2 text-white rounded-md font-[poppins] focus:ouline-white" type="submit" value="Go to Date">
                    </form>

                    <div class="underline text-xs md:text-md font-medium font-[poppins]">
                        <a href="{% url 'accounts:profile' %}">
                            {{ user.email}} 
                        </a>
                    </div>
                </div>
                
            </div>

            
        </div>
        

        
    </div>
    
    

    

{% endblock%}