{% extends 'journal/base.html' %}

<!-- {% load static %}-->

{% block title %}
    Journal
{% endblock%}



{% block content %}

    <div class="mt-3 sm:mt-6 space-y-6 sm:space-y-0 sm:flex py-8 font-[poppins]">
        <div class="px-5 w-full sm:w-1/2 text-lg sm:text-2xl font-[poppins] text-mindtextmetal">
        
            <p class="tracking-wide leading-relaxed">
                Embrace the <span class="font-bold text-mindpurple">{{ day }}th of {{ month }}</span>
            <span class="font-bold text-mindpurple">{{ year }}</span>! 
            Let your thoughts flow onto these pages - an artful dance with your racing mind.
            </p>

            <br>

            <p class=" tracking-wide leading-relaxed">
                Scribble away, for in these lines, we tame the little monsters within, 
                crafting a symphony of remembrance and reflection. Write on, write on, 
                and seize the day!
            </p>
            
            
        </div>

        <div class="w-full sm:w-1/2 flex justify-center items-center">
            
            <div class="w-full space-y-7 ">
                <div class="w-full sm:w-3/4 mx-auto flex justify-center items-center  ">
                    <a class="rounded-md  w-full py-2 border-2 border-mindpurple shadow bg-mindcream  text-center text-mindpurple hover:font-bold hover:ring-1 hover:ring-mindpurple" href="{% url 'accounts:login_view' %}"> Log In </a>
                </div>
                
                <div class="w-full sm:w-3/4 mx-auto  flex justify-center items-center ">
                    <a class="rounded-md w-full  py-2 bg-mindpurple shadow text-center text-white hover:font-bold hover:ring hover:ring-mindpurple" href="{% url 'accounts:signup' %}"> Sign Up </a>
                </div>                
            </div>
            
        </div>
    </div>

{% endblock%}